---
import Main from "../layouts/Main.astro";


---
<Main>
    <div class="md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto">
        <div class="text-center p-20">
            <img src="../public/assets/branding/404.svg" alt="" class="h-96 mx-auto">
            <h2 class="text-center lg:m-10 font-normal">
                Oops its seems what you are looking for have changes it address have a look at the directory below. 
            </h2>
            <a href="/blog" class="p-5 border boder-thc-blue-400 bg-thc-blue-300 text-white font-semibold"> Lets Find In The Directory </a>
        </div>
    </div>
</Main>
