---
import Main from "../layouts/Main.astro";
import BlogList from "../components/BlogList.astro";
// 👀 note the prerender export
export const prerender = true;

---

<Main title="Blog">
    <div class="md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto my-10">
        <div class="my-10 xl:my-20">
            <h1 class="sub-page-header-highlight"><span class="before:block before:absolute before:-inset-3 before:-skew-y-3 before:bg-pink-500 relative inline-block">
                <span class="relative text-white">Blog</span>
                </span>
            </h1>
        </div>
        <BlogList></BlogList>
    </div>
</Main>