---
import Main from "../layouts/Main.astro";
import BlogList from "../components/BlogList.astro";
---

<Main title="Blog">
    <div class="max-w-screen-xl mx-auto">

        <BlogList></BlogList>
    </div>
</Main>