---
import BlogList from "../components/BlogList.astro";
import LandingPage from "../components/LandingPage.astro";
import Main from "../layouts/Main.astro";
import Services from "../components/Services.astro";
import Portfolio from "../components/Portfolio.astro";
title: "Homepage";
---
<Main title="Hompage">
    <LandingPage></LandingPage> 
    <div class="max-w-screen-xl mx-auto">
        <div class="px-10 my-10"></div>
            <Services></Services>
            <Portfolio></Portfolio>
            <BlogList></BlogList>
        </div>
    </div>
</Main>
