---
let year = new Date().getFullYear();
import Logo from "./Logo.astro";
---
<!-- <footer class="border-t-2 border-yellow-600">
  <div class="flex justify-between my-2">
    <p class="text-sm border-2 border-yellow-600 my-auto p-2">Copyright © {year} Thehigglers Company. All Rights Reserved</p>
    <ul class="text-sm flex">
        <li class="border-2 border-yellow-600 p-2 ml-2 hover:bg-yellow-600 group hover:text-white"> 
          <a target="_blank" class="flex" href="https://www.facebook.com/tdnshah0512"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="w-4 h-4 mr-2 my-auto fill-yellow-600 group-hover:fill-white">
            <path
              d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" />
          </svg>
          Facebook</a>
      </li>
        <li class="border-2 border-yellow-600 p-2 ml-2 hover:bg-yellow-600 group hover:text-white">
          <a target="_blank" class="flex" href="https://twitter.com/tdnshah">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4 mr-2 my-auto fill-yellow-600 group-hover:fill-white">
            <path fill=""
              d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" />
            </svg>
            Twitter</a>
          </li>
        <li class="border-2 border-yellow-600 p-2 ml-2 hover:bg-yellow-600 group hover:text-white">
          <a target="_blank" class="flex" href="https://www.linkedin.com/in/tdnshah/"><svg
            class="w-4 h-4 my-auto mr-2 fill-yellow-600 group-hover:fill-white"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512">
            <path
              d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
            ></path>
          </svg>
          Linked In</a>
        </li>
        <li class="border-2 border-yellow-600 p-2 ml-2 hover:bg-yellow-600 group hover:text-white">
          <a target="_blank" class="flex" href="https://mastodon.social/@tdnshah">
            <svg class="w-4 h-4 my-auto mr-2 fill-yellow-600 group-hover:fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="-0.41 0.22 747.62 801.4499999999999">
              <path d="M729.94 479.5c-10.96 56.4-98.17 118.12-198.34 130.08-52.23 6.23-103.66 11.96-158.49 9.44-89.68-4.1-160.45-21.4-160.45-21.4 0 8.73.54 17.04 1.62 24.81 11.66 88.52 87.76 93.82 159.84 96.29 72.76 2.49 137.55-17.94 137.55-17.94l2.99 65.79s-50.89 27.32-141.55 32.35c-50 2.75-112.07-1.26-184.37-20.39C31.94 737.02 4.97 569.86.85 400.26-.41 349.9.37 302.42.37 262.7.37 89.27 113.99 38.44 113.99 38.44 171.28 12.12 269.59 1.06 371.79.22h2.52c102.19.84 200.57 11.9 257.86 38.22 0 0 113.62 50.83 113.62 224.26 0 0 1.42 127.96-15.85 216.8"/> 
              <svg class="group-hover:fill-yellow-600 fill-white"><path d="M611.77 276.16v209.99h-83.2V282.33c0-42.97-18.07-64.77-54.23-64.77-39.98 0-60.01 25.86-60.01 77.02v111.57h-82.71V294.58c0-51.16-20.04-77.02-60.01-77.02-36.16 0-54.24 21.8-54.24 64.77v203.82h-83.19V276.16c0-42.92 10.93-77.03 32.88-102.26 22.63-25.23 52.27-38.17 89.07-38.17 42.57 0 74.81 16.37 96.12 49.1l20.72 34.74 20.73-34.74c21.31-32.73 53.55-49.1 96.12-49.1 36.79 0 66.44 12.94 89.07 38.17 21.95 25.23 32.88 59.34 32.88 102.26z"/></svg>
          </svg>
          Mastadon </a>
        </li>
    </ul>
  </div>
</footer> -->
<div class="h-24 bg-thc-blue-300">
  
</div>
<div class="h-20 bg-thc-blue-400">

</div>

<footer class="lg:px-0 md:px-6 md:py-8 dark:bg-gray-900 max-w-screen-xl mx-auto">
  <div class="sm:flex sm:items-center sm:justify-between mx-auto">
      <Logo></Logo>
      <ul class="flex flex-wrap items-center mb-6 text-sm text-thc-blue-300 sm:mb-0 dark:text-gray-400">
          <li>
              <a href="/about" class="mr-4 hover:underline md:mr-6 ">About</a>
          </li>
          <li>
              <a href="/privacy-policy" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
          </li>
          <li>
              <a href="/terms-of-use" class="mr-4 hover:underline md:mr-6 ">Terms Of Use</a>
          </li>
          <li>
              <a href="/contact" class="hover:underline">Contact</a>
          </li>
      </ul>
  </div>
  <hr class="my-2 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-2 border-thc-blue-300" />
  <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400 text-thc-blue-300"><a href="/" class="hover:underline">Copyright © {year} Thehigglers Company. </a> All Rights Reserved.
  </span>
</footer>


