---

---
<section class="relative" style="  background: linear-gradient(to right top, #051937, #114169, #136e9d, #089fcf);">
    <div class="py-24 px-10 max-w-screen-xl mx-auto ">
        <!-- <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-4xl lg:text-5xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Technological Solution</span> <span><strong class="text-yellow-400">Delivered.</strong></span></h1> -->
        <h1 class="text-white mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-4xl lg:text-5xl">Technological Solution<span> <strong class="text-yellow-400">Delivered.</strong></span></h1>
        <div class="pr-64">
            <p class="text-lg font-normal text-white lg:text-xl dark:text-gray-400">The Higglers Company is a open source technological architecting company for enterprise problems, our expertise in solutioning open source software to enterprise problem and help enterprise journey to success using digital and open source software solutions.

            </p>
            <p class="text-yellow-400 text-2xl font-light tracking-tight leading-tight">Expertised in delivering techological solutions</p>
            <ul class="flex py-5">
                <li class="border-2 border-white m-2 p-2 flex"> 
                    <svg width="24px" height="24px" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg" fill="white" class="my-auto mr-2"><path d="M15.78 5.113C14.09 3.425 12.48 1.815 11.998 0c-.48 1.815-2.09 3.425-3.778 5.113-2.534 2.53-5.405 5.4-5.405 9.702a9.184 9.185 0 1 0 18.368 0c0-4.303-2.871-7.171-5.405-9.702M6.72 16.954c-.563-.019-2.64-3.6 1.215-7.416l2.55 2.788a.218.218 0 0 1-.016.325c-.61.625-3.204 3.227-3.527 4.126-.066.186-.164.18-.222.177M12 21.677a3.158 3.158 0 0 1-3.158-3.159 3.291 3.291 0 0 1 .787-2.087c.57-.696 2.37-2.655 2.37-2.655s1.774 1.988 2.367 2.649a3.09 3.09 0 0 1 .792 2.093A3.158 3.158 0 0 1 12 21.677m6.046-5.123c-.068.15-.223.398-.431.405-.371.014-.411-.177-.686-.583-.604-.892-5.864-6.39-6.848-7.455-.866-.935-.122-1.595.223-1.94C10.736 6.547 12 5.285 12 5.285s3.766 3.574 5.336 6.016c1.57 2.443 1.029 4.556.71 5.253"/></svg>
                    <span class="text-white">Drupal</span>
                </li>
                <li class="border-2 border-white m-2 p-2"><span class="text-white">Odoo</span></li>
                <li class="border-2 border-white-600 m-2 p-2 flex">
                    <svg width="24px" height="24px" viewBox="0 0 256 255" xmlns="http://www.w3.org/2000/svg" fill="white" preserveAspectRatio="xMinYMin meet" class="mr-2"><defs><linearGradient x1="12.959%" y1="12.039%" x2="79.639%" y2="78.201%" id="a"><stop stop-color="white" offset="0%"/><stop stop-color="gray" offset="100%"/></linearGradient><linearGradient x1="19.128%" y1="20.579%" x2="90.742%" y2="88.429%" id="b"><stop stop-color="#white" offset="0%"/><stop stop-color="white" offset="100%"/></linearGradient></defs><path d="M126.916.072c-64.832 0-60.784 28.115-60.784 28.115l.072 29.128h61.868v8.745H41.631S.145 61.355.145 126.77c0 65.417 36.21 63.097 36.21 63.097h21.61v-30.356s-1.165-36.21 35.632-36.21h61.362s34.475.557 34.475-33.319V33.97S194.67.072 126.916.072zM92.802 19.66a11.12 11.12 0 0 1 11.13 11.13 11.12 11.12 0 0 1-11.13 11.13 11.12 11.12 0 0 1-11.13-11.13 11.12 11.12 0 0 1 11.13-11.13z" fill="url(#a)"/><path d="M128.757 254.126c64.832 0 60.784-28.115 60.784-28.115l-.072-29.127H127.6v-8.745h86.441s41.486 4.705 41.486-60.712c0-65.416-36.21-63.096-36.21-63.096h-21.61v30.355s1.165 36.21-35.632 36.21h-61.362s-34.475-.557-34.475 33.32v56.013s-5.235 33.897 62.518 33.897zm34.114-19.586a11.12 11.12 0 0 1-11.13-11.13 11.12 11.12 0 0 1 11.13-11.131 11.12 11.12 0 0 1 11.13 11.13 11.12 11.12 0 0 1-11.13 11.13z" fill="url(#b)"/></svg>
                    <span class="text-white">Python</span>
                </li>
                <li class="border-2 border-white-600 m-2 p-2 flex">
                    <svg class="my-auto mr-2" width="24px" height="24px" viewBox="0 0 100 69" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="white" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <path d="M73.79,15.23C67.32,15.23 61.36,18.87 55.6,25.23C49.94,18.77 43.88,15.23 37.11,15.23C25.9,15.23 17.72,23.23 17.72,34C17.72,44.77 25.9,52.67 37.11,52.67C44,52.67 49.34,49.44 55.3,43C61.06,49.46 66.92,52.69 73.79,52.69C85,52.67 93.18,44.8 93.18,34C93.18,23.2 85,15.23 73.79,15.23ZM37.19,41.37C32.44,41.37 29.61,38.24 29.61,34.1C29.61,29.96 32.44,26.74 37.19,26.74C41.19,26.74 44.46,29.96 48,34.3C44.66,38.34 41.13,41.37 37.19,41.37ZM73.45,41.37C69.51,41.37 66.18,38.24 62.64,34.1C66.28,29.76 69.41,26.74 73.45,26.74C78.2,26.74 81,30 81,34.1C81,38.2 78.2,41.37 73.45,41.37Z" style="fill:white;fill-rule:nonzero;"/>
                        <path d="M63.74,50L71.28,41C68.28,40.1 65.51,37.4 62.64,34.05L55.3,43C57.703,45.788 60.556,48.154 63.74,50Z" style="fill:white;fill-rule:nonzero;"/>
                        <path d="M55.6,25.22C53.213,22.392 50.378,19.973 47.21,18.06L39.66,27.16C42.53,28.16 45.07,30.74 47.77,34.03L48.07,34.24L55.6,25.22Z" style="fill:white;fill-rule:nonzero;"/>
                    </svg>
                    <span class="text-white">Superset</span>
                </li>
            </ul>
        </div>
       
    </div>
    <!-- <div class="tw-image-overlay absolute top-0 bottom-0 left-0 right-0 z-20" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));"> 

    </div>-->
</section>
<!-- <section class="grid grid-cols-3 mx-32 gap-2 justify-center">

    <div class="border-2 border-blue-600">
        <div class="border-b-2 border-blue-600 text-center p-2">
            Development Services
        </div>
        <ul class="m-2 p-2">
            <li class="py-2">Drupal Custom Developement</li>
            <li class="py-2">Odoo Custom Developement</li>
            <li class="py-2">Apache Superset Dashboard Developement</li>
        </ul>
    </div>

    <div class="border-2 border-blue-600">
        <div class="border-b-2 border-blue-600 text-center p-2">
            Webhosting Services
        </div>
        <ul class="m-2 p-2">
            <li class="py-2">Website hosting </li>
            <li class="py-2">Storage VPS</li>
            <li class="py-2">Managed VPS & Dedicated Servers</li>
        </ul>
    </div>


    <div class="border-2 border-blue-600">
        <div class="border-b-2 border-blue-600 text-center p-2">
            Digital Marketing Services
        </div>
        <ul class="m-2 p-2">
            <li class="py-2">SEO (Search Engine Optimization</li>
            <li class="py-2">Content Creation</li>
            <li class="py-2">Performance Enhancement</li>
        </ul>
    </div>
</section> -->

<section>
</section>