---

---
<a href="https://thehigglers.com/" class="">
    <div class="flex items-center">
        <img src="/assets/branding/black-hole.svg" class="h-9 mr-3 sm:h-12" alt="thehigglers-company-logo" />
        <span class="self-center text-2xl lg:text-3xl font-normal whitespace-nowrap dark:text-white text-thc-blue-400">thehigglers company</span>
    </div>
</a>
