---

---
<div>
    <a href="/" class="flex items-center w-10">
        <img src="/public/assets/branding/black-hole.svg" class="xl:h-12 mr-3 sm:h-9" alt="thehigglers-company-logo" />
        <span class="self-center text-3xl whitespace-nowrap dark:text-white  text-thc-blue-300">thehigglers company</span>
    </a>
</div>