---

---

<section class="bg-yellow-400 p-2 text-center text-sm mb-2 bx-container-margin animate-pulse">
    <div class="bg-stripes bg-gradient-to-r from-blue-lightest to-blue-light ">
        Thehigglers Company is celebrating the upcoming launch of Drupal 10 on Dec 14th 2022 🎉
    </div>
</section>