---
import Main from "./Main.astro";

const { frontmatter, title } = Astro.props
let pagetitle = title ? title : frontmatter.title
let pagedescription = frontmatter.description

---
<Main title={pagetitle} description={pagedescription}>
    <article class="max-w-6xl prose prose-slate mx-auto my-24">
        <slot/>
    </article>
</Main>


